.dropdownItemsContainer{
    display: flex;
    flex-direction: column;
}

div > label{
    font-size: larger;
    font-weight: 600;
    padding: 20px;
}

.dropdownSelect {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid rgb(25, 31, 25);
    background-image: linear-gradient(to right,rgb(100, 240, 140),rgb(24, 156, 7));
    color: #333;
    font-size: 14px;
    font-weight: 600;
    width: 30%;
    box-sizing: border-box;
}

.dropdownSelect:hover {
    opacity: 0.8;
}

.card{
    border-radius: 5px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px 2px gray;
    margin: 10px;
    box-sizing: border-box;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.dropdownOptions{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
    flex-direction: column;
    overflow: hidden;
    width: 80%;
}

.options{
    margin: 0px;
    padding: 5px 4px;
}

.options:hover{
    background-color: var(--primary);
}